name: Qodana
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'
      - dev

jobs:
  qodana:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      checks: write
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}  # to check out the actual pull request commit, not the merge commit
          fetch-depth: 0  # a full history is required for pull request analysis
      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@v2025.2
        with:
          args: --fail-threshold,50
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}

  upload-qodana-config:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Run Qodana Configuration Uploader
        env:
          QODANA_CONFIGURATIONS_TOKEN: ${{ secrets.QODANA_CONFIGURATIONS_TOKEN }}
          QODANA_ENDPOINT: 'https://qodana.cloud'
        run: |
          docker run --rm \
            -v $(pwd):/workspace \
            -w /workspace \
            -e QODANA_CONFIGURATIONS_TOKEN=$QODANA_CONFIGURATIONS_TOKEN \
            jetbrains/qodana-configuration-uploader:latest \
            --global-configs-file qodana-global-configurations.yaml

